name: Run test api

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  API-test:
    runs-on: ubuntu-latest
    env:
      NODE_ENV: development
      PORT: 8000
      FRONT_PORT: 3000
      API_PORT: 8080
      API_HOST: '0.0.0.0'
      API_URL: http://localhost:8000
      POSTGRES_PORT: 5432
      JWT_SECRET: ${{ secrets.JWT_SECRET }}
      JWT_EXPIRES_IN: ${{ secrets.JWT_EXPIRES_IN }}
      POSTGRES_URL: ${{ secrets.POSTGRES_URL }}

    steps:

    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Run npm install
      run: npm run install:api

    - name: Build Docker image
      run: docker-compose -f docker-compose.api.yaml up  --build

    - name: Run unit tests
      run: npm run test:unit:api

    - name: Run E2E tests
      run: npm run test:e2e:api

    - name: End
      run:  echo Test completed