name: Run test api

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  API-test:
    runs-on: ubuntu-latest
    env:
      NODE_ENV: development

    steps:

    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Run npm install
      run: npm run install:api

    - name: Build Docker image
      run: docker-compose up -d --build -V

    - name: Run unit tests
      run: npm run test:unit:api

    - name: Run E2E tests
      run: npm run test:e2e:api

    - name: End
      run:  echo Test completed