name: Run test api

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Run npm install
      run: npm run install:api

    - name: Run unit and E2E tests
      run: npm run test:api

    - name: End
      run:  echo Test completed