name: Run test api

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  API-test:
    runs-on: ubuntu-latest
    env:
      NODE_ENV: development
      API_PORT: 8000
      # FRONT_PORT: 3000
      PORT: 8080
      API_HOST: '0.0.0.0'
      API_URL: http://localhost:8000
      POSTGRES_PORT: 5432
      JWT_SECRET: ${{ secrets.JWT_SECRET }}
      JWT_EXPIRES_IN: ${{ secrets.JWT_EXPIRES_IN }}
      POSTGRES_URL: postgresql://myapp:password@0.0.0.0:5432/my-app-db

    services:
      postgres:
        image: postgres:14-alpine
        env:
          POSTGRES_PASSWORD: password
          POSTGRES_USER: myapp
          POSTGRES_DB: my-app-db
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:

    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup Node
      uses: actions/setup-node@v3
      with:
        node-version: 16

    - name: Install Nest
      run: npm install -g @nestjs/cli 

    - name: Run npm install
      run: npm run install:api

    - name: Run api
      run: npm run start:api

    # - name: Build and run Docker image
    #   run: docker-compose -f docker-compose.test-api.yaml up -d --build

    # - name: Sleep for 10 seconds
    #   uses: jakejarvis/wait-action@master
    #   with:
    #     time: '10s'

    - name: Run unit tests
      run: npm run test:unit:api

    - name: Run E2E tests
      run: npm run test:e2e:api

    # - name: Stop Docker image
    #   run: docker-compose down --remove-orphans

    - name: End
      run:  echo Test completed